body {
  margin: 0;
  font-family: "Sora" !important;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
}
li {
}
li:hover {
  background-color: #BDA0CB;
  border-radius: 5px;
  color: black;
}

.viewbutton {
  padding: 5px;
  border: 1px solid #363062;
  color: 'black' !important;
  margin: 5px;
  border-radius: 5px;
  background: transparent;
  cursor: pointer;
}

.viewbutton p {
    margin: 0;
  }

.contain {
  width: 100%;
  height: 100%;
  background-image: url(./assets/Moon.svg);
  overflow: hidden !important;
  background-size: cover;
  background-repeat: no-repeat;
}

.tweetnavbar {
  margin: 0;

  background-color: #363062;
  color: #fff;
}

.tweetsCard {
  /* max-width: 700px;
    width: 100%; */
  margin: 50px auto;
  background-color: #e9d5ca;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.07);
  padding: 15px;
}

.tweetwidth {
  width: 60%;
  margin: 0 auto;
}

.tweetdate{
    font-size: '5px';
    color: 'grey';
}

.tweetinitials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #363062;
    cursor: pointer;
    color: white;
    font-family: 'Sora';
}

.tweetinitials p{
    margin: 0;
    color: #fff;
    font-weight: 400;
}

.loginCard {
  max-width: 80%;
  min-width: 370px;
  height: 450px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.signupCard {
    max-width: 80%;
    min-width: 370px;
    /* height: 700px; */
    padding: 40px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }

.email {
  margin: 20px 0;
}

.email label {
  display: block;
  margin: 10px 0;
}

.email input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(199, 195, 195);
}

.password {
  margin: 20px 0;
}

.password label {
  margin: 10px 0;
  display: block;
}

.password input {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(199, 195, 195);
}

.loginButton button {
  width: 100%;
  background-color: #363062;
  color: #fff;
  font-size: 18px;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
  height: 10%;
  border: none;
}

.loadingButton button {
  width: 100%;
  background-color: #363062;
  border: none;
  font-size: 18px;
  margin: "20px 0";
  border-radius: 10px;
}

.butloadingButton button {
  width: 100%;
  background-color: #363062;
  border: none;
  font-size: 18px;
  border-radius: 10px;
}

@media (max-width: 480px) {
    p{
        font-size: 0.8rem !important;
    }
    h2{
        font-size: 1.3em !important;
    }
    h3{
        font-size: 1.2em !important;
    }
    h4{
        font-size: 1.2em !important;
    }
    h5{
        font-size: 1.0em !important;
    }
    h6{
        font-size: 0.9em !important;
    }
}

@media  (max-width: 576px) {
  
    
  .tweetwidth {
    width: 90%;
  }
  .viewbutton{
    padding: 5px;
  }
  .viewbutton p {
    margin: 0;
  }
}

@media screen and (min-width: 576px) and (max-width: 900px) {
  .tweetwidth {
    width: 90%;
  }
}
